<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2><%= title %></h2>
      <a class="single">
        <h3 class="title">Inventory_ID: <%= document.inventory_ID %></h3>
        <p class="snippet">Name: <%= document.name %></p>
        <p class="snippet">Manager: <%= document.manager %></p>
        <p class="snippet">Type: <%= document.type %></p>
        <p class="snippet">Quantity: <%= document.quantity %></p>
    </a>
  </div>
    <div class="details content">
    <a class="delete" data-doc="<%= document._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>
  <br>
  <br>
  <div class="create-blog content">
    <h1>Modify the document</h1>
    <form action="/documents/update/<%= document._id %>" method="POST">
      <label for="inventory_ID">Inventory_ID:</label>
      <input type="text" id="inventory_ID" name="inventory_ID" required>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="manager">Manager:</label>
      <input type="text" id="manager" name="manager" required>
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" required>
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" name="quantity" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/documents/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    

  </script>
</body>
</html>